* {
  box-sizing: border-box;
}

:root {
  --clr-secondary-100: hsl(254, 88%, 90%);
  --clr-secondary-500: hsl(256, 67%, 59%);
  --clr-primary-100: hsl(31, 66%, 93%);
  --clr-primary-500: hsl(39, 100%, 71%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-white: hsl(0, 0%, 100%);

  --xlg: 4rem;
  --lg: 2.75rem;
  --med: 2.35rem;
  --sm: 1.5rem;

  /* mobile */
  --m-xlg: 2rem;
  --m-lg: 1.6rem;
  --m-med: 1.3rem;
  --m-sm: 1rem;

  --fw-400: 400;
  --fw-500: 500;
  --ff: "DM Sans", "sans serif";
}

body {
  margin: 0;
  background-color: var(--clr-white);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.portfolio {
  display: grid;
  gap: 0.5em;
  padding: 1rem;
}

.portfolio > * {
  border-radius: 0.9rem;
  padding: 1rem;
}

.intro {
  background-color: var(--clr-primary-100);
  text-align: center;
}

.intro img {
  width: 100px;
}

.intro img,
p {
  margin-inline: auto;
}
/* Typography */
h1 {
  font-size: var(--m-sm);
}

p {
  font-size: var(--m-sm);
}

/* Colors and layout of portfolio items */

.tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--clr-secondary-500);
}

.projects {
  background-color: var(--clr-primary-100);
}

.contact {
  background-color: var(--clr-primary-500);
  display: flex;
  flex-direction: column;
}

form > textarea {
  width: 100%;
  height: 100px;
}

.socials {
  display: flex;
  place-content: center;
  gap: 1rem;
  padding-block: 2rem;
}

@media (min-width: 60em) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(250px, 40%));
    overflow: hidden;
    place-content: center;
  }

  .intro {
    grid-row: span 2;
  }

  .contact {
    grid-column: 1/3;
  }
}
