*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-gray: hsl(0, 0%, 30%);
  --clr-black: hsl(0, 0%, 10%);
  --clr-white: hsl(0, 0%, 100%);

  --xlg: 4rem;
  --lg: 2.75rem;
  --med: 2.35rem;
  --sm: 1.5rem;

  /* mobile */
  --m-xlg: 2rem;
  --m-lg: 1.6rem;
  --m-med: 1.3rem;
  --m-sm: 1rem;

  --fw-400: 400;
  --fw-500: 500;
  --ff: "DM Sans", "sans serif";
}

body {
  margin: 0;
  background-color: var(--clr-white);
}

.portfolio {
  display: grid;
  gap: 1em;
  border: 1px solid var(--clr-gray);
  margin: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem;
    
  }
}

.profile {
  background-color: var(--clr-black);
  padding-block: 2rem;
}

.profile-img-container {
  position: relative;
  width: 200px;
  height: 250px;
  margin-inline: auto;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
  }
}

.utc-time {
  background-color: var(--clr-white);
  font-size: var(--m-sm);
  color: var(--clr-black);
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  padding: 0.1rem 0.5rem;
}

.profile-socials {
  display: flex;
  gap: 1rem;
  background-color: var(--clr-white);
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2rem 0.8rem;
}

.about {
  color: var(--clr-black);
  padding: 1rem;
  line-height: 1.5;
}
